@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: 'SegoeWP';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe WP'), url('../fonts/SegoeWP.woff') format('woff');
  }

.container {
  max-width: 1025px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  margin: 25px 35px 14px;
}

.menu {
  display: flex;
  align-items: center;
}
.menu a {
  font-family: SegoeWP;
  font-size: 19px;
  line-height: 36px;
  font-weight: 300;
  color: #565656;
  padding-left: 15px;
}
.menu a:last-child {
  padding-right: 15px;
}
.menu a::after {
  content: "|";
  margin-left: 15px;
}
.menu a:last-child::after {
  content: none;
}
.menu a:hover {
  border-bottom: 1px solid #08a39b;
}

.main-page__slider {
  background-image: url(../img/main-page/bg.jpg);
  background-position: center;
  background-size: cover;
}
.slider__image {
  flex: 1 0 50%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4.7%;
  margin-bottom: 2.8%;
}
.slider__content {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.slider-nav {
  display: flex;
  justify-content: flex-end;
}
.slider-nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 119px;
  height: 123px;
  cursor: pointer;
}
.slider-nav__item-1 {
  background-color: #08a39b;
}
.slider-nav__item-2 {
  background-color: #048989;
}
.slider-nav__item-3 {
  background-color: #017d82;
}
.slider__text {
  display: none;
  margin: 9% 0;
}
.slider__text.is-active {
  display: block;
}

.about {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  font-family: SegoeWP;
  font-size: 41px;
  line-height: 36px;
  font-weight: 300;
  color: #636363;
}
.about__text {
  font-family: OpenSans;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #9f9f9f;
  margin: 30px 40px;
}
.about__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-nav {
  display: flex;
  max-height: 170px;
}
.showcase-nav__items {
  padding: 4.5%;
  display: flex;
  flex: 0 1 16.66%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.showcase-nav__items.is-active {
  border-bottom: solid 3px #ffffff;
}
.showcase-nav__item-1 {
  background-color: #01636c;
}
.showcase-nav__item-2 {
  background-color: #097b85;
}
.showcase-nav__item-3 {
  background-color: #108f98;
}
.showcase-nav__item-4 {
  background-color: #1da0aa;
}
.showcase-nav__item-5{
  background-color: #29b7c1;
}
.showcase-nav__item-6{
  background-color: #3ccad4;
}
.showcase__body {
  background-image: url(../img/showcase/layer_6_85.png);
  background-position: center;
  background-size: cover;
}
.showcase {
  display: none;
}
.showcase.is-active {
  display: block;
}

.flex__row {
  display: flex;
  align-items: center;
}
.showcase__image {
  margin: 120px 0 75px 20px;
}
.text__title {
  font-family: SegoeWP;
  font-size: 39px;
  line-height: 36px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 9%;
  padding-bottom: 1.7%;
}
.text__subtitle {
  font-family: SegoeWP;
  font-size: 17px;
  line-height: 36px;
  font-weight: 300;
  color: #ffffff;
}
.buy-button {
  margin-top: 30px;
  display: inline-flex;
}
.button a {
  display: inline-flex;
}
.button__icon {
  width: 4rem;
  padding: 0.6em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover .button__icon {
  opacity: 0.5;
  border-radius: 5px 0 0 5px; 
}
.button__text {
  display: none;
  font-family: SegoeWP;
  font-size: 21px;
  line-height: 2em;
  font-weight: 300;
  color: #ffffff;
  padding: 0 1em;
  border-radius: 0 5px 5px 0; 

}
.button:hover .button__text  {
  display: block;
}

.slider__btn-color-1 {
  background-color: #259d8e;
}
.slider__btn-color-2 {
  background-color: #54d3c3;
}
.showcase__btn-color-1 {
  background-color: #3edac6;;
}
.showcase__btn-color-2 {
  background-color: #06ccb3;;
}

.section-4 {
  width: 100%;
}
.section-4__text {
  flex: 0 1 60%;
  display: flex;
  justify-content: center;
}
.section-4__image {
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
  padding: 11% 0;
  background: #49d7b0;
}

.footer {
  display: flex;
}
.copyright, .copyright a {
  margin: 35px auto;
  font-family: SegoeWP;
  font-size: 23px;
  line-height: 36px;
  font-weight: 300;
  color: #989898;
}